# Server Configuration
PORT=8080

# Database Configuration
DB_FILE=lagani_cache.db

# WASM Configuration
WASM_FILE=./css.wasm

# NEPSE URLs
NEPSE_BASE_URL=https://nepalstock.com.np
NEPSE_PROVE_PATH=/api/authenticate/prove
NEPSE_COMPANY_LIST_PATH=/api/nots/company/list
NEPSE_DAILY_STATS_PATH=/api/nots/securityDailyTradeStat/58
NEPSE_TOP_GAINERS_PATH=/api/nots/top-ten/top-gainer?all=true
NEPSE_TOP_LOSERS_PATH=/api/nots/top-ten/top-loser?all=true
NEPSE_MARKET_STATUS_PATH=/api/nots/nepse-data/market-open

# Merolagani URLs
MEROLAGANI_BASE_URL=https://merolagani.com
MEROLAGANI_NEWS_PATH=/NewsList.aspx

# Nepalipaisa URLs
NEPALIPAISA_BASE_URL=https://www.nepalipaisa.com
NEPALIPAISA_NEWS_PATH=/

# Scheduler Schedules (Interpreted in Asia/Kathmandu timezone)
MARKET_STATUS_SCHEDULE="0 */30 * * * *" # Every 30 mins
PRICE_SCHEDULE="0 0 * * * *"          # Hourly at :00
GAINER_SCHEDULE="0 1 * * * *"         # Hourly at :01
LOSER_SCHEDULE="0 2 * * * *"          # Hourly at :02
COMPANY_SCHEDULE="0 0 2 * * *"          # Daily at 2 AM NPT
NEWS_SCHEDULE="0 0 6,18 * * *"        # Every 12 hours (6 AM, 6 PM NPT)

# NEPSE Graph Data (requires security ID)
NEPSE_HISTORICAL_PRICE_PATH_FORMAT="/api/nots/market/graphdata/%d"

HISTORICAL_PRICE_SCHEDULE="0 0 18 * * *"   # Daily at 6 PM NPT 